<div id="recherche" class="recherche">
<input placeholder="Rechercher ..." ng-model="query" type="text"
	class="form-control search-input">
trié par : <a ng-click="$ctrl.predicate='nom';reverse=!reverse">Nom</a> - 
					<a ng-click="$ctrl.predicate='categorie';reverse=!reverse">Catégorie</a> - 
					<a ng-click="$ctrl.predicate='prix';reverse=!reverse">Prix</a>
</div>
<div class="row row-flex row-flex-wrap" >
	<div class="col-sm-6 col-md-3" ng-repeat="pizza in $ctrl.listePizzas| orderBy:$ctrl.predicate:reverse  | filter:{nom:query} track by $index">
		<div class="thumbnail">
			<img ng-src="{{pizza.urlImage}}" alt="...">
			<div class="caption">
				<h3><a href="#/pizzas/{{ pizza.code }}">{{ pizza.nom }}</a></h3> 
				<p>({{pizza.categorie}})</p>
				<p>{{ pizza.prix }} €</p>
				<p class="button-modifier-panier"><a ng-click="$ctrl.addPizza(pizza)" class="btn btn-primary ">Ajouter
					au panier</a> <a href="#/pizzas/{{ pizza.code }}"
				class="btn btn-warning ">Visualiser</a></p>
			</div>
		</div>
	</div>
</div>