<table class="table table-striped" id="listePizza">
  <thead>
    <tr>
      <th class="text-center">Image</th>
      <th class="text-center">Nom</th>
      <th class="text-center">Categorie</th>
      <th class="text-center">Prix</th>
    </tr>
    <tr ng-click="$ctrl.addPizza(pizza)" class="text-center" ng-repeat="pizza in $ctrl.listePizzas">
      <td><img ng-src="{{pizza.urlImage}}"  width="80" height="60"></td>
      <td>{{ pizza.nom }}</td>
      <td>{{ pizza.categorie }}</td>
      <td>{{ pizza.prix }} €</td>
      <td> <a href="#/pizzas/{{ pizza.code }}" ><button type="submit" class="btn btn-warning ">Visualiser</button></a>
      </td>
    </tr>
  </thead>
</table>
