body {
  background-image: url('../images/fond.jpg');
  height: 800px;
  width: 800px;
}


P { text-align: center }
H1 { text-align: center;
font-style: italic; }
aside { text-align: center;
font-style: italic; }
h3 { text-align: center;
font-style: italic; }
img {
  text-align: center ;
  width:700px;
   height:500px;
  }


