<h3>
    Inscription</h3>

<form name="inscriptionClientForm" ng-submit="$ctrl.saveClient(inscriptionClientForm)" novalidate>

    <div class="form-group">

        <label for="email">Email :</label>
        <!--Email-->
        <input ng-model="$ctrl.client.email" ng-model-options="{ updateOn : 'blur' }" required name="email" type="email" class="form-control"
            id="email">
        <p class="text-danger" ng-if="inscriptionClientForm.email.$invalid && inscriptionClientForm.email.$touched">Email obligatoire</p>


        <label for="motDePasse">Mot de passe :</label>
        <!--Mot de passe-->
        <input ng-model="$ctrl.client.motDePasse" ng-model-options="{ updateOn : 'blur' }" required name="motDePasse" type="password"
            class="form-control" id="motDePasse">
        <p class="text-danger" ng-if="inscriptionClientForm.motDePasse.$invalid && inscriptionClientForm.motDePasse.$touched">Mot de passe obligatoire</p>


        <label for="motDePasseBis">Retaper le mot de passe :</label>
        <!--Second mot de passe-->
        <input ng-model="$ctrl.client.motDePasseBis" ng-model-options="{ updateOn : 'blur' }" required name="motDePasseBis" type="password"
            class="form-control" id="motDePasseBis">
        <p class="text-danger" ng-if="inscriptionClientForm.motDePasseBis.$invalid && inscriptionClientForm.motDePasseBis.$touched ">Valider le mot de passe</p>
        <p class="text-danger" ng-if="!(inscriptionClientForm.motDePasse.$modelValue == inscriptionClientForm.motDePasseBis.$modelValue) ">Mot de passe différent</p>
    </div>
    <div>
        <!--Nom-->
        <label for="Nom">Nom :</label>
        <input ng-model="$ctrl.client.nom" ng-model-options="{ updateOn : 'blur' }" name="Nom" type="text" class="form-control" id="Nom">

        <label for="Prenom">Prénom :</label>
        <!--Prenom-->
        <input ng-model="$ctrl.client.prenom" ng-model-options="{ updateOn : 'blur' }" name="Prenom" type="text" class="form-control"
            id="Prenom">
    </div>

    <div>
        <!--Sexe-->
        <label for="sexe">Sexe :</label>
        <input type="radio" name="sexe" ng-model="$ctrl.client.sexe" value="male" /> male
        <input type="radio" name="sexe" ng-model="$ctrl.client.sexe" value="female" /> female <br>
        <label for="date">Date de naissance :</label>
        <input type="date" name="date" ng-model="$ctrl.client.dateNaissance"> <br>
        <label for="numeroTel">Numéro de téléphone :</label>
        <input type="text" ng-model="$ctrl.client.numeroTel" name="numeroTel" class="form-control">
    </div>
    <br>
    <div>
        <label for="adresseNum">Numéro de Rue :</label>
        <input type="text" ng-model="$ctrl.client.adresseNum" name="numeroTel" class="form-control">
        <label for="adresseRue">Nom de Rue :</label>
        <input type="text" ng-model="$ctrl.client.adresseRue" name="adresseRue" class="form-control">
        <label for="adresseDetail">Complément d'adresse :</label>
        <input type="text" ng-model="$ctrl.client.adresseDetail" name="adresseDetail" class="form-control">
        <label for="adresseCodePostal">Code postal :</label>
        <input type="text" ng-model="$ctrl.client.adresseCodePostal" name="adresseCodePostal" class="form-control">
        <label for="adresseVille">Ville :</label>
        <input type="text" ng-model="$ctrl.client.adresseVille" name="adresseVille" class="form-control">

        <br>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a ng-href="#/" type="button" class="btn">Annuler</a>
    </div>





</form>